@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neon-green: #39FF14;
  --neon-green-dark: #32cc12;
}

.text-neon-green {
  color: var(--neon-green);
}

.border-neon-green {
  border-color: var(--neon-green);
}

.bg-neon-green {
  background-color: var(--neon-green);
}

.bg-neon-green-dark {
  background-color: var(--neon-green-dark);
}
